/* CSS to include:
Flexbox  

Background Stylisation of <Body> or <div>  

Font Stylisation  

Margins  

Width & Height  

Animations  
*/

/* font-family: 'Forum', cursive;
font-family: 'Jost', sans-serif; */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
}

#container {
  display: grid;
  grid-template-columns: 1fr;
}

/* Parlour Information Bar */

#store-info-bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  background-color: salmon;
  color: #3b3b3b;
}

#store-info-bar p {
  display: inline-block;
  padding: 8px 10px;
}

/* .malaligned-div {
  margin-bottom: 3.333px;
  display: flex;
  flex-wrap: wrap;
} */

/* Main Section */

main {
  height: 100vh;
  background-image: url("images/unwind-2-resized.jpg");
  background-size: cover;
  background-position: center;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: salmon;
  position: sticky;
  top: 0px;
  background-color: #704080ec;
  z-index: 2;
}

header h2 {
  font-size: 3rem;
  padding: 0 10px;
  /* padding-left: 10px; */
}

/* PROBLEM WITH STICKY - IT ONLY GOES TO THE END OF THE MAIN SECTION */

nav ul li {
  /* text-align: right; */
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}

/* nav a {
  color: salmon;
} */

nav a:link {
  text-decoration: none;
  color: salmon;
}

nav a:visited {
  color: salmon;
}

nav a:hover {
  color: white;
}

nav a:active {
  font-weight: bolder;
  color: #3b3b3b;
}

/* Main Heading */

main h1 {
  text-align: center;
  margin-top: 220px;
  font-size: 7.5rem;
  font-family: "Forum", sans-serif;
  color: #704080;
  animation-name: fade, warp;
  animation-duration: 3s;
}

/* Animations */

@keyframes warp {
  from {
    font-size: 4rem;
  }
  to {
    font-size: 7.5rem;
  }
}

@keyframes fade {
  from {
    color: salmon;
  }
  to {
    color: #704080;
  }
}

/* About Section */

#about-section {
  background-color: white;
  color: #704080;
}

#about-section h2 {
  margin-top: 70px;
  padding: 20px 0;
  text-align: center;
  font-size: 3rem;
  font-family: "Forum", cursive;
  color: salmon;
}

#about-section li {
  margin: 20px 10px;
  text-align: center;
  font-size: 1.5rem;
}

#my-story1 {
  color: #4c0167;
}

#my-story2 {
  color: #755280;
}

/* Treatments and Pricing Section */

#treatments-and-pricing h2 {
  margin-top: 70px;
  padding: 20px 0;
  text-align: center;
  font-size: 3rem;
  font-family: "Forum", cursive;
  color: salmon;
}

#treatments {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  margin: 0 10px;
  gap: 10px;
  background-color: #feb8b07f;
}

#treatments img {
  display: block;
  width: 100%;
  height: auto;
}

#treatments h3 {
  font-weight: 800;
  padding: 10px;
  text-align: center;
  color: #3b3b3b;
}

#treatments h4 {
  font-weight: 600;
  padding: 10px;
  text-align: center;
  color: #704080;
}

.caption {
  align-self: center;
}

.treatment-1 {
  order: 1;
}
.treatment-2 {
  order: 2;
}
.treatment-3 {
  order: 3;
}
.treatment-4 {
  order: 4;
}
.treatment-5 {
  order: 5;
}
.treatment-6 {
  order: 6;
}
.treatment-7 {
  order: 7;
}
.treatment-8 {
  order: 8;
}

/* Review Section */

#review-section h2 {
  margin-top: 70px;
  padding: 20px 0;
  text-align: center;
  font-size: 3rem;
  font-family: "Forum", cursive;
  color: salmon;
}

.slider {
  max-width: 100rem;
  height: 75vh;
  /* margin: 0 auto; */
  position: relative;

  /* IN THE END */
  overflow: hidden;
  /* background-color: hotpink; */
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: flex-start;
  justify-content: center;

  /* THIS creates the animation! */
  transition: transform 1s;
  background-color: white;
  /* background-color: #feb8b07f; */
}

.review-box {
  width: 70%;
  height: 60vh;
  position: relative;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  padding: 20px 20px;
  padding-bottom: 0;
  /* background-color: yellow; */
}

/* .review-box::before {
  position: absolute;
  top: -5.7rem;
  left: -6.8rem;
  line-height: 1;
  font-size: 20rem;
  color: var(--color-primary);
  z-index: -1;
} */

.review-box1 {
  background-color: #d0ffcf;
}

.review-box2 {
  background-color: #d0ffcf;
}

.review-box3 {
  background-color: #d0ffcf;
}

.review-heading {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  color: #704080;
  /* background-color: green; */
}

.review-testimony {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #3b3b3b;
  text-align: center;
  /* background-color: blue; */
}

.review-author {
  font-size: 1.2rem;
  /* background-color: red; */
}

.carousel-button {
  position: absolute;
  top: 40%;
  z-index: 1;

  border: none;
  /* background: rgba(255, 255, 255, 0.7); */
  /* font-family: inherit; */
  background-color: #7040804a;
  color: #3b3b3b;
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer;
}

.next-button {
  right: 8%;
  transform: translate(50%, -50%);
}

.previous-button {
  left: 8%;
  transform: translate(-50%, -50%);
}

/* .dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;

  Only necessary when overlying images
  box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7);
}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  background-color: #fff;
  background-color: #888;
  opacity: 1;
} */

/* Contact & Booking Section */

#contact-section {
  background-color: #7040804a;
}

#contact-section h2 {
  margin-top: 70px;
  padding: 20px 0;
  text-align: center;
  font-size: 3rem;
  font-family: "Forum", cursive;
  color: salmon;
}

#below {
  text-decoration: none;
  color: #704080;
}

#contact-section #enquire {
  color: #704080;
}

#contact-section p {
  margin: 20px 20px;
  text-align: center;
  font-size: 1.5rem;
  color: #3b3b3b;
}

form {
  text-align: center;
}

form input {
  margin-bottom: 20px;
}

textarea {
  margin: 20px;
}

.send-message {
  margin-bottom: 40px;
  padding: 2px;
}

.send-message:active {
  background-color: salmon;
  color: #704080;
  border: 1px solid #3b3b3b;
  border-radius: 2px;
}

/* Footer */

footer {
  padding: 20px;
  background-color: #7040804a;
  border-top: 1px solid #4c0167;
}

/* Responsive Design */
@media only screen and (min-width: 795px) {
  #store-info-bar br {
    display: none;
  }
}

@media only screen and (max-width: 1032px) {
  #store-info-bar {
    font-size: 12px;
  }
}

@media only screen and (max-width: 530px) {
  #store-info-bar {
    font-size: 10px;
  }
}

@media only screen and (max-width: 442px) {
  #store-info-bar {
    font-size: 9px;
  }
}

@media only screen and (max-width: 408px) {
  #store-info-bar {
    font-size: 8px;
  }
}

@media only screen and (max-width: 915px) {
  header h2 {
    font-size: 2rem;
  }

  nav a {
    font-size: 14px;
  }
}

@media only screen and (max-width: 397px) {
  nav a {
    font-size: 12px;
  }
}

@media only screen and (max-width: 766px) {
  header h2 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 637px) {
  header {
    flex-direction: column;
  }
}

/* Main Heading with Animations */
@media only screen and (max-width: 1024px) {
  main h1 {
    font-size: 5.5rem;
    animation-name: fade, warp;
    animation-duration: 3s;
  }

  @keyframes warp {
    from {
      font-size: 3rem;
    }
    to {
      font-size: 5.5rem;
    }
  }

  @keyframes fade {
    from {
      color: salmon;
    }
    to {
      color: #704080;
    }
  }
}

@media only screen and (max-width: 800px) {
  main h1 {
    font-size: 4.5rem;
    animation-name: fade, warp;
    animation-duration: 3s;
  }

  @keyframes warp {
    from {
      font-size: 3rem;
    }
    to {
      font-size: 4.5rem;
    }
  }

  @keyframes fade {
    from {
      color: salmon;
    }
    to {
      color: #704080;
    }
  }
}

@media only screen and (max-width: 650px) {
  main h1 {
    font-size: 3.5rem;
    animation-name: fade, warp;
    animation-duration: 3s;
  }

  @keyframes warp {
    from {
      font-size: 2rem;
    }
    to {
      font-size: 3.5rem;
    }
  }

  @keyframes fade {
    from {
      color: salmon;
    }
    to {
      color: #704080;
    }
  }
}

@media only screen and (max-width: 650px) {
  main h1 {
    font-size: 2.5rem;
    animation-name: fade, warp;
    animation-duration: 3s;
  }

  @keyframes warp {
    from {
      font-size: 1rem;
    }
    to {
      font-size: 2.5rem;
    }
  }

  @keyframes fade {
    from {
      color: salmon;
    }
    to {
      color: #704080;
    }
  }
}

/* Section Headings */

@media only screen and (max-width: 500px) {
  #contact-section > h2,
  #treatments-and-pricing > h2,
  #about-section > h2 {
    margin-top: 50px;
    font-size: 2.5rem;
  }

  #contact-section p {
    font-size: 1rem;
  }
}

/* Treatments Section */
@media only screen and (min-width: 620px) and (max-width: 850px) {
  #treatments h3 {
    font-size: 24px;
  }

  #treatments h4 {
    font-size: 20px;
  }
}

@media only screen and (min-width: 850px) {
  #treatments h3 {
    font-size: 30px;
  }

  #treatments h4 {
    font-size: 24px;
  }
}

@media only screen and (max-width: 486px) {
  #treatments h3 {
    font-size: 12px;
  }

  #treatments h4 {
    font-size: 10px;
  }
}
